    



<style type="text/css">
  background:  assets-url("lock-1.jpg") 
</style>
<body class="login">
    <div id="content">
        <div class="container-fluid">
            <div class="lock-container">
                <h1 style="color:#000000">Account Access</h1>
                <div class="panel panel-default text-center">
                    <img src="" class="img-circle" id="name1">
                    <div class="panel-body">
                    <%= bootstrap_form_for(@profile, :html => { :multipart => true }) do |f| %>


                    <%= f.text_field :name , :class => "form-control"%>
                    <%= f.text_field :familyName ,:class => "form-control"%>
                    <%= f.date_field :date_of_birth ,:class => "form-control"%>
                    <%= f.text_field :Job ,:class => "form-control"%>

                    <%= f.text_field :country ,:class => "form-control"%>

                    <%= f.text_field :Gender ,:class => "form-control"%>

                    <%= f.file_field :avatar,:class => "form-control" %>

                    <%= f.file_field :uploaded_file,:class => "form-control" %>

                    <%= f.submit "Done", :class => "btn btn-primary"%>
                    <span class="fa fa-fw fa-unlock-alt"></span>
                    <% end %>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar right">
        <div class="chat-search">
            <!-- <input type="text" class="form-control" placeholder="Search" /> -->
             <%= form_tag({ controller: "profiles" , action: "search" },:format => :js,:id => 'main_search' ,remote: true , method: "get"  ) do %>
                    <%= text_field_tag :search_value, nil,  class: 'form-control' , :autocomplete => :off , :placeholder => "search here.." %>
                    <%#= submit_tag 'Search', :class => 'btn btn-success' %>
                <% end %>
        </div>
        <ul id="search_results">
        </ul>
    </div>  
    <script type="text/javascript">
        $('#name1').on('click',function(){
            $('#profile_avatar').click();
        });
        
    </script>
</body>


