

	<tr>
        <td><%= app_info.plan.uni.name %></td>
        <td><%= app_info.professer.name %></td>
        <td><%= app_info.plan.degree.name %></td>
        <td><%= app_info.plan.field.name %></td>
        <td><%= app_info.plan.min_toefl %></td>
        <td><%= app_info.plan.min_GRE %></td>
        <td><%= app_info.plan.app_fee %></td>
        <td><%= app_info.plan.deadline %></td>
    </tr>



                    