<p id="notice"><%= notice %></p>

<h1>Listing Friendables</h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Accepted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @friendables.each do |friendable| %>
      <tr>
        <td><%= friendable.from_id %></td>
        <td><%= friendable.to_id %></td>
        <td><%= friendable.accepted %></td>
        <td><%= link_to 'Show', friendable %></td>
        <td><%= link_to 'Edit', edit_friendable_path(friendable) %></td>
        <td><%= link_to 'Destroy', friendable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friendable', new_friendable_path %>
