<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Post</th>
      <th>___Profile.name</th>
      <th>___comment be :</th>
      <th>___post content </th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
    <% if comment.profile.name == "samira" %>
      <tr>
        <td><%= comment.text %></td>
        <td><%= comment.post %></td>
        <td><%= comment.profile.name %></td>
        <td><%= comment.post.user.profile.name %></td>
        <td><%= comment.post.content %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
