<p id="notice"><%= notice %></p>

<p>
  <strong>Plan:</strong>
  <%= @app_info.plan %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @app_info.profile %>
</p>

<p>
  <strong>Profile Name , @app_info.profile.name : </strong>
  <%= @app_info.profile.name %>
</p>

<p>
  <strong>Acc or rej:</strong>
  <%= @app_info.acc_or_rej %>
</p>

<p>
  <strong>Professer:</strong>
  <%= @app_info.professer %>
</p>



<%= link_to 'Edit', edit_app_info_path(@app_info) %> |
<%= link_to 'Back', app_infos_path %>
