<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :parent_id %> 
  <% if postable.nil? %>
    <%= f.hidden_field :postable_type, :value => "User" %> 
    <%= f.hidden_field :postable_id, :value => current_user.id.to_s %> 
  <% else %>
    <%= f.hidden_field :postable_type, :value => postable.class.to_s %> 
    <%= f.hidden_field :postable_id, :value => postable.id.to_s %> 
  <% end %>

  <div class="field">
    <% f.label :user_id %><br>
    <%= f.hidden_field :user_id  , :value => current_user.id %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
