<p id="notice"><%= notice %></p>

<h1>Listing Plans</h1>

<table>
  <thead>
    <tr>
      <th>Uni</th>
      <th>Uni name</th>
      <th>Degree</th>
      <th>Degree name</th> 
      <th>Field</th>
      <th>Field name</th>
      <th>Semester</th>
      <th>Min toefl</th>
      <th>Min gre</th>
      <th>Deadline</th>
      <th>App fee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.uni %></td>
        <td><%= plan.uni.name %></td>
        <td><%= plan.degree %></td>
        <td><%= plan.degree.name %></td>
        <td><%= plan.field %></td>
        <td><%= plan.field.name %></td>
        <td><%= plan.semester %></td>
        <td><%= plan.min_toefl %></td>
        <td><%= plan.min_GRE %></td>
        <td><%= plan.deadline %></td>
        <td><%= plan.app_fee %></td>
        <td><%= link_to 'Show', plan %></td>
        <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
        <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plan', new_plan_path %>
