<%= form_for(@professer) do |f| %>
  <% if @professer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professer.errors.count, "error") %> prohibited this professer from being saved:</h2>

      <ul>
      <% @professer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :uni_id %><br>
    <%= f.text_field :uni_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
