<p id="notice"><%= notice %></p>

<h1>Listing Professers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Uni</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professers.each do |professer| %>
      <tr>
        <td><%= professer.name %></td>
        <td><%= professer.uni %></td>
        <td><%= link_to 'Show', professer %></td>
        <td><%= link_to 'Edit', edit_professer_path(professer) %></td>
        <td><%= link_to 'Destroy', professer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professer', new_professer_path %>
