<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Let's Apply", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar navbar-main navbar-primary navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a data-toggle="sidebar-chat" class="btn btn-link navbar-btn visible-xs"><i class="fa fa-search"></i></a>
                <a class="navbar-brand" href="#">Let's Apply</a>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav">
                    
                    <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Public User Pages</li>
                            <li><a href="user-public-timeline.html">Timeline</a>
                            </li>
                            <li><a href="user-public-profile.html">About</a>
                            </li>
                            <li><a href="user-public-users.html">Friends</a>
                            </li>
                            <li class="dropdown-header">Private User Pages</li>
                            <li><a href="user-private-messages.html">Messages</a>
                            </li>
                            <li class="active"><a href="user-private-profile.html">Profile</a>
                            </li>
                            <li><a href="index.html">Timeline</a>
                            </li>
                            <li><a href="user-private-users.html">Friends</a>
                            </li>
                        </ul>
                    </li>
                     --><!-- <li class="dropdown">
                        <a href="buttons.html" class="dropdown-toggle" data-toggle="dropdown">UI Components <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="buttons.html"><i class="fa fa-th"></i> Buttons</a>
                            </li>
                            <li>
                                <a href="icons.html"><i class="fa fa-paint-brush"></i> Icons</a>
                            </li>
                            <li>
                                <a href="progress.html"><i class="fa fa-tasks"></i> Progress</a>
                            </li>
                            <li>
                                <a href="grid.html"><i class="fa fa-columns"></i> Grid</a>
                            </li>
                            <li>
                                <a href="forms.html"><i class="fa fa-sliders"></i> Forms</a>
                            </li>
                            <li>
                                <a href="tables.html"><i class="fa fa-table"></i> Tables</a>
                            </li>
                        </ul>
                    </li> -->
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-xs">
                        <a href="#" data-toggle="sidebar-chat">
                            <i class="fa fa-comments"></i>
                        </a>
                    </li>

                    <!-- User -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle user" data-toggle="dropdown">
                            <!-- <img src="/assets/guy-5.jpg" alt="Bill" class="img-circle" width="40" />  -->
                            <%= image_tag current_user.profile.try(:avatar) , class: "img-circle", :width => "40px",height: "40px" %>
                            <%= current_user.profile.try(:name) %> <span class="caret"></span>

                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><%= link_to "Profile", current_user.profile%>
                            </li>
                            <li><%= link_to "Messages", mailbox_inbox_path%>
                            </li>
                            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                            <!-- </li> -->
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->
            </div>
    </div>
  </div>
</nav>