<!DOCTYPE html>
<html>
<head>
  <title>Let's Apply</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<% if user_signed_in? and current_user.profile  %>

  <%= render 'layouts/nav' %>

<% end %>  

  <%= yield %>
  


</body>

<div class="footer">
        Let's Apply &copy; Copyright Notice
    </div>

    <!-- // Footer -->
    
<!-- Vendor Scripts Bundle -->
<!-- <script src="/assets/vendor.min.js"></script> -->
<!-- <script src="/assets/vendor.js"></script> -->
    <!-- App Scripts Bundle -->
    
<script src="/assets/scripts.min.js"></script> 
<script src="/assets/scripts.js"></script>

</html>
